<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Roboto, sans-serif;
        background: linear-gradient(120deg, #8e9eab, #eef2f3);
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .center {
        width: 90%;
        max-width: 400px;
        background: white;
        border-radius: 10px;
        padding: 40px;
        box-sizing: border-box;
      }

      .center h1 {
        text-align: center;
        margin-bottom: 20px;
      }

      .center form .txt_field {
        position: relative;
        margin-bottom: 30px;
      }

      .center form .txt_field input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid #adadad;
        background: transparent;
        outline: none;
      }

      .center form .txt_field label {
        position: absolute;
        top: 10px;
        left: 0;
        color: #adadad;
        transition: 0.5s;
      }

      .center form .txt_field input:focus ~ label,
      .center form .txt_field input:valid ~ label {
        top: -18px;
        font-size: 14px;
        color: #2691d9;
      }

      .center form input[type="Submit"] {
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        background: #2691d9;
        color: #e9f4fb;
        transition: 0.5s;
      }

      .center form input[type="Submit"]:hover {
        background: #0b4baf;
      }

      .signup_link {
        text-align: center;
        font-size: 16px;
        color: #666666;
        margin-top: 20px;
      }

      .signup_link a {
        color: #2691d9;
        text-decoration: none;
      }

      .signup_link a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="center">
      <h1>Register</h1>
      <form action="/signup/user" method="POST">
        <div class="txt_field">
          <input type="text" name="name" required />
          <label>Name</label>
        </div>
        <div class="txt_field">
          <input type="email" name="email" required />
          <label>Email</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" required />
          <label>Password</label>
        </div>

        <input name="submit" type="Submit" value="Sign Up" />
        <div class="signup_link">
          Have an Account? <a href="/login">Login Here</a>
        </div>
      </form>
    </div>
  </body>
</html>
